<body onload="BlurLinks(); MM_preloadImages('assets/menus/company01ON.png','assets/menus/team01ON.png','assets/menus/partners01ON.png','assets/menus/work01OFF.png','assets/menus/integSvcs01ON.png','assets/menus/portfolio01ON.png','assets/menus/givBack01ON.png','assets/menus/contact01ON.png','assets/menus/careers01ON.png')">

<div class="menuBox">

  <div class="company">
  		 <%= link_to image_tag("menus/company01OFF.png", :alt => "About us", :'name' => "Image8", :width => "203", :height => "34", :id => "Image8"), home_path, :'target' => "_parent", :'onmouseout' => "MM_swapImgRestore()", :'onmouseover' => "MM_swapImage('Image8','','assets/menus/company01ON.png',1)" %>
  </div>

  <div class="team">
  	<%= link_to image_tag("menus/team01OFF.png", :alt => "The people behind ActivAsia", :name => "team", :width => "67", :height => "22", :id => "team"), home_path, :'target' => "_parent", :'onmouseout' => "MM_swapImgRestore()", :'onmouseover' => "MM_swapImage('Image8','','assets/menus/team01ON.png',1)" %>
  </div>

	<div class="partners">
		<%= link_to image_tag("menus/partners01OFF.png", :alt => "Partners", :name => "partners", :width => "85", :height => "18", :id => "partners"), home_path, :'target' => "_parent", :'onmouseout' => "MM_swapImgRestore()", :'onmouseover' => "MM_swapImage('Image8','','assets/menus/partners01ON.png',1)" %>
	</div>

	<div class="work">
		<%= link_to image_tag("menus/work01OFF.png", :alt => "Work", :name => "work", :width => "116", :height => "33", :id => "work"), home_path, :'target' => "_parent", :'onmouseout' => "MM_swapImgRestore()", :'onmouseover' => "MM_swapImage('Image8','','assets/menus/work01ON.png',1)" %>
	</div>

	<div class="integSvcs">
		<%= link_to image_tag("menus/integSvcs01OFF.png", :alt => "What we do", :name => "Integrated Services", :width => "270", :height => "23", :id => "Integrated Services"), home_path, :'target' => "_parent", :'onmouseout' => "MM_swapImgRestore()", :'onmouseover' => "MM_swapImage('Image8','','assets/menus/integSvcs01ON.png',1)" %>
	</div>

	<div class="portfolio">
		<%= link_to image_tag("menus/portfolio01OFF.png", :alt => "What we have done", :name => "Portfolio", :width => "183", :height => "29", :id => "Portfolio"), home_path, :'target' => "_parent", :'onmouseout' => "MM_swapImgRestore()", :'onmouseover' => "MM_swapImage('Image8','','assets/menus/portfolio01ON.png',1)" %>
	</div>

	<div class="givBack">
		<%= link_to image_tag("menus/givBack01OFF.png", :alt => "Giving Back", :name => "Giving Back", :width => "133", :height => "23", :id => "Giving Back"), home_path, :'target' => "_parent", :'onmouseout' => "MM_swapImgRestore()", :'onmouseover' => "MM_swapImage('Image8','','assets/menus/givBack01ON.png',1)" %>
	</div>

	<div class="careers">
		<%= link_to image_tag("menus/careers01OFF.png", :alt => "Career Opportunities", :name => "Image9", :width => "347", :height => "22", :border => "0", :id => "Image9"), home_path, :'target' => "_blank", :'onmouseout' => "MM_swapImgRestore()", :'onmouseover' => "MM_swapImage('Image8','','assets/menus/careers01ON.png',1)" %>
	</div>

	<div class="contact">
		<%= link_to image_tag("menus/contact01OFF.png", :alt => "Contact ActivAsia, Inc.", :name => "Contact", :width => "98", :height => "20", :id => "Contact"), home_path, :'target' => "_blank", :'onmouseout' => "MM_swapImgRestore()", :'onmouseover' => "MM_swapImage('Image8','','assets/menus/contact01ON.png',1)" %>
	</div>

</div>
</body>
